
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/HomeLayoutPage.cshtml";
}

<h2>AboutUs</h2>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="~/Image/Long.png" alt="Nguyen Thanh Long" /></div>
            <div class="col-md-6">
                <div class="small mb-1">Mã Sinh Viên: 2001207168</div>
                <h1 class="display-5 fw-bolder">Nguyễn Thành Long</h1>
                <div class="m-auto">
                    <a href="" class="me-4 link-secondary text-decoration-none">
                        <i class="fa fa-facebook-f"></i>
                        Facebook
                    </a>
                    <br />
                    <a href="" class="me-4 link-secondary text-decoration-none">
                        <i class="fa fa-google"></i>
                        Google
                    </a>
                    <br />
                    <a href="" class="me-4 link-secondary text-decoration-none">
                        <i class="fa fa-instagram"></i>
                        Instargram
                    </a>
                    <br />
                    <a href="" class="me-4 link-secondary text-decoration-none">
                        <i class="fa fa-linkedin"></i>
                        Linkedin
                    </a>
                    <br />
                    <a href="" class="me-4 link-secondary text-decoration-none">
                        <i class="fa fa-github"></i>
                        GitHub
                    </a>
                </div>
                <a class="text-decoration-none" href="@Url.Action("Index", "Products")">Trở về trang chủ</a>
            </div>
            
        </div>
    </div>
</section>